<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SeleniumJava">

   <listeners>
   
       <listener class-name="com.seleniumjava.utilities.Reporting"/>
   </listeners>

    <test name="BankingApp Test">
      <parameter name="browser" value="chrome" />
      <classes>
         <class name="com.seleniumjava.testcases.TC_LoginTest_001" />
      </classes>
    
     </test>


</suite>
